<div class=" sfusJumbo">
  <div class="row sfusRow text-left">
    <!-- <div class="col-12 ">
      <h4 class="text-left">Comments</h4>
    </div> -->
    <div class="col-xs-12 col-md-6">
      <hr class="sfusHR" />
      <h3 class="sfus_H">Fans</h3>
      <hr class="sfusHR" />
      
      <div class="sfusForm02" >
        <!-- <p class="mar12_0_12_0">
        Share your thoughts by posting a comment or a recommendation. </p> 
        <hr class="sfusHR" />  -->

        <div class="postCard">
          </div>
        <div *ngFor="let user of apiService.users">
          <a [routerLink]="['/myprofile', user._id]" style="cursor: pointer">
          {{user.name}}</a>
        </div>
      </div>
      
    </div>
    
    <div class="col-xs-12 col-md-6">

      <div class="sfusVideo embed-responsive  embed-responsive-16by9">
        <video class="responsive-video embed-responsive-item" poster="../assets/images/sportFansWhereVenue720.png" controls>
          <source src="../../assets/media/intro720p.mp4" type="video/mp4" />
        </video>
      </div>

      
      
    </div>
  </div>
  
  <div class="row sfusRow text-left">
    <div class="col-12">
      <hr class="sfusHR" />
      <h3 class="sfus_H"> Filter Comments </h3>
      <hr class="sfusHR" />
      
      <form>
        <div class="form-group form-inline">
          Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
          <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        </div>
        <table class="table table-striped text-left">
          <thead>
            <tr>
              <th scope="col"  class="sfusth">ID</th>
              <th scope="col"  class="sfusth sortImg" sortable="name" (sort)="onSort($event)">Fan</th>
              <!-- <th scope="col"  class="sfusth sortImg" sortable="area" (sort)="onSort($event)">Topic</th>
              <th scope="col"  class="sfusth sortImg" sortable="mydetails" (sort)="onSort($event)">Post</th>
             -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of countries$ | async">
              <th scope="row">{{ country.id }}</th>
              <td>
                <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> -->

                <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
              </td>
              <!-- <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="country.mydetails" [term]="service.searchTerm"></ngb-highlight></td>
             -->
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
          [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>
          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="30">30 items per page</option>
            <option [ngValue]="60">60 items per page</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>