<div class=" sfusJumbo">
  <div class="row sfusRow text-left">
    <!-- <div class="col-12 ">
      <h4 class="text-left">Comments</h4>
    </div> -->
    <div class="col-xs-12 col-md-6">
      <hr class="sfusHR" />
      <h3 class="sfus_H"> Login To Post Comments</h3>
      <hr class="sfusHR" />
      
      <div class="sfusForm02" >
          <mypostsubmit></mypostsubmit>
      </div>

    </div>
    
    <div class="col-xs-12 col-md-6">

      <div class="sfusVideo embed-responsive  embed-responsive-16by9">
        <video class="responsive-video embed-responsive-item" poster="../assets/images/sportFansWhereVenue720.png" controls>
          <source src="../assets/media/intro720p.mp4" type="video/mp4" />
        </video>
      </div>

      
      
    </div>
  </div>
  
  <div class="row sfusRow text-left">
    <div class="col-12">
        <!-- <div *ngFor="let message of MyPostService">
            <div>Author Id: {{message.author}},  msg: {{message.msg}}</div>
          </div> -->
    </div>
  </div>
  
  <div class="row sfusRow text-left">
    <div class="col-12">
      <hr class="sfusHR" />
      <h3 class="sfus_H"> Filter Comments </h3>
      <hr class="sfusHR" />
      
      <!-- <form> -->
        <!-- <div class="form-group form-inline">
          Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
          <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
        </div> -->

        <table class='table  table-striped text-left' *ngIf='filteredProducts && filteredProducts.length'>
          <thead>
            <tr>

              <th scope="col">_Id</th>  
              <th scope="col" sortable="msg" (sort)="onSort($event)"  class="sortBG">Msg</th>
              <th scope="col" sortable="author" (sort)="onSort($event)"  class="sortBG">Fan Id</th>
              <th scope="col">Topic Msg</th>
              <th scope="col">Date</th>

              <!-- 
              <th scope="col"  class="sfusth">ID</th> 
              <th scope="col"  class="sfusth sortImg" sortable="author" (sort)="onSort($event)">Fan</th>
            -->
              <!-- <th  scope="col"  class="sfusth" >Fan&nbsp;&#xbb;</th>
              <th scope="col"  class="sfusth sortImg" sortable="area" (sort)="onSort($event)">Topic Area</th>
              <th scope="col"  class="sfusth sortImg" sortable="msg" (sort)="onSort($event)">Post</th>
              <th scope="col">Date</th> -->
            </tr>
          </thead>
          <tbody>
<!--             
    <div *ngFor="let message of apiService.messages">
      <div>{{message.msg}}</div>
    </div> 
-->

            <tr >
                <td>  &nbsp;  </td>
                <td> Filter: <input type='text'
                    [(ngModel)]='listFilter' /> </td> <!-- | convertToSpaces: '-'  -->
                <td> <div *ngIf='listFilter'> <h4>Results for: {{listFilter}}</h4></div> </td>
                <td>   &nbsp;  </td>
                <td>   &nbsp;  </td>
            </tr>

            <!-- <tr *ngFor="let mypost of myposts$ | async">
                <tr *ngFor='let mypost of filteredProducts | async'>
              <th scope="row"></th>
              <td>  <a class="nav-link" routerLink="myprofile/5da518c2bb256f848e5b19f3">&#xab;&nbsp;Fan</a>
                <ngb-highlight [result]="mypost.author" [term]="service.searchTerm"></ngb-highlight>
              </td>
              <td><ngb-highlight [result]="mypost.area | number" [term]="service.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="mypost.msg" [term]="service.searchTerm"></ngb-highlight></td>
            </tr> -->

            <tr *ngFor='let product of filteredProducts'>
                <td> 
                  <a [routerLink]="['/myprofile', product.author]" style="cursor: pointer">
                    &#xAB; More </a>
                </td>
                <td>{{product.msg | truncate:[30] }} <!-- <a [routerLink]="['/products03', product._id]"> </a> --> </td>
                <td>{{ product.author | lowercase }}</td><!-- | convertToSpaces: '-' -->
                <td>{{product.msg}}</td>
                <td>Date  <!-- {{ product.releaseDate }} --> </td>
              </tr>

          </tbody>
        </table>
        <!-- <div class="d-flex justify-content-between p-2">
          <ngb-pagination
          [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>
          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="30">30 items per page</option>
            <option [ngValue]="60">60 items per page</option>
          </select>
        </div> -->
      <!-- </form> -->
    </div>
  </div>
</div>

<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>