
<div class=" sfusJumbo">
  <div class="row sfusRow text-left">

    <div class="col-xs-12 col-md-6"> 
      <div class="">
          <hr class="sfusHR" />
          <h3 class="sfus_H"> Fan Profile</h3>
          <hr class="sfusHR" />
        <div class="card-content">Name: {{profile?.name}}</div>
        <div class="card-content">Email: {{profile?.email}}</div>
        <div class="card-content">Details: {{profile?.description}}</div>
      </div> 
      <h3 class="sfus_H"> &nbsp; </h3>
    </div>
     
    <div class="col-xs-12 col-md-6">
      <!-- 4:3 aspect ratio -->
      <div class="sfusVideo embed-responsive  embed-responsive-16by9">
        <video class="responsive-video embed-responsive-item" poster="../../assets/images/sportFansWhereVenue720.png" controls>
          <source src="../../assets/media/intro720p.mp4" type="video/mp4" />
        </video>
      </div>
    </div>

    <div class="col-12  "> 
        <hr class="sfusHR" />
      <h5 class="regH5">Posts</h5> 
      <div class="">
        <messages></messages>
      </div>

      <h3 class="sfus_H"> &nbsp; </h3>
    </div>



  </div>
</div>