<ngb-accordion [closeOthers]="true" activeIds="static-31">
  <ngb-panel id="static-31" class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> Football Feedback</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Recent NFL Changes</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Early Superbowl Predictions </a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">XFL 2020</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  
  <ngb-panel id="static-32" class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0">Arenas/Stadiums</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Fenway Park (Boston)</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Gillete Stadium (Foxborough)</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Metlife Stadium (Meadowlands)</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Prudential Center (Newark)</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Yankee Stadium (Bronx)</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-33" class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0">Baseball Discussions</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">2019 World Series Predicions?</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Baseballs Evolution </a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="static-34"class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> Kid Friendly Sport Venues</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Catoring To Families Is Good For Business</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">CT Kid Friendly Sport Venues</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">MA Kid Friendly Sport Venues</a></li>
            <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">NY Kid Friendly Sport Venues</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>




