<ngb-accordion [closeOthers]="true" activeIds="static-21">
  <ngb-panel id="static-21" class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> NY-LI </h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Farmingdale</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Port Jefferson</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-22" class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> NY-NY </h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Midtown</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Williamsburg</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-23" class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> NY-SW</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Peekskill</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Port Chester</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="static-24"class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> Future Regions</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Suggest a Great City/Region</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span>MA-SE</li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span>NY-CN</li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span>NY-NE</li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span>NY-W</li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>




