<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> CT-NE </h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Hartford</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Old Saybrook</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2"class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0"> CT-SW </h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Milford</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">New Haven</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Stamford</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3"class="card">
    <ng-template ngbPanelTitle class="card-header" >
      <h5 class="mb-0">MA-W</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Springfield</a></li>
          <li class="list-group-item"> <span class="rt-arrows"> » </span><a href="#">Worcester</a></li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>






