
    <div class="parallaxDiv">
      <div class="bgimg-1">
        <div class="caption">
          <p  class="captionP">
        <span class="border">SEEKING GREAT SPORT VENUES!</span>
      </p>
        </div>
      </div>
    </div>

    
    
      
    <div class="jumbotron sfusJumbo">
      <div class="row sfusRow text-left">
        <div class="col-xs-12 col-md-6">
          <hr class="sfusHR" />
          <h3 class="sfus_H"> HELP BUILD THE LIST</h3>
          <hr class="sfusHR" />
  
          <div class="sfusVideo embed-responsive  embed-responsive-16by9">
            <video class="responsive-video embed-responsive-item" poster="../assets/images/sportFansWhereVenue720.png" controls>
              <source src="../assets/media/intro720p.mp4" type="video/mp4" />
            </video>
          </div>
          <p class="mar12_0_12_0"><strong>What makes a great sport venue?</strong>          
            Business owners who do it right, and patrons who support them. Support local sport venues and help other fans to do so also. </p>
          <div class="shareButton text-center mar12_0_12_0">
            <a class="btn btn-lg btn-brown  " href="#" role="button">View Current Venue List »</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <hr class="sfusHR" />
          <h3 class="sfus_H"> VIDEO REVUES BY CITY</h3>
          <hr class="sfusHR" />
          <div id="demo-accordion-collapse" role="tablist">
            <div class="row row-no-gutters sfusRow text-left">
              <div class="col-12 ">
                
                <div class="card">
                  <div class="card-header" role="tab" id="accord1">
                    <p class="cardP"> A few cities with great venues are reviewed below. Feedback is encouraged. Fan feedback will help determine future city reviews.  
                        <a href="#">Help SPORTFANS.US find the best venues.</a> </p>
                        <!-- <p>LEFT-POINTING DOUBLE ANGLE QUOTATION MARK &#xBB;
                         Right-POINTING DOUBLE ANGLE QUOTATION MARK &#xAB;</p> -->

                  </div>
                </div>
    
              </div>
            </div>
    
            <div class="row row-no-gutters sfusRow text-left">
              <div class="col-6 div-no-rt-gutter">
                <myaccordion01></myaccordion01>
                <ngbd-collapse-basic></ngbd-collapse-basic>
              </div>
    
              <div class=" col-6 div-no-left-gutter">
                <myaccordion02></myaccordion02>

                

              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
    <div class="sectionDiv_02 sfusJumbo">
      
    </div>
  
    
    <div class="sectionDiv_02 sfusJumbo">
      <div class="row sfusRow text-left">
    
        <div class="col-xs-12 col-md-6">
          <hr class="sfusHR" />
          <h3 class="sfus_H">SPORTFAN TOPICS</h3>
          <hr class="sfusHR" />
          <p> Join the discussion. <a href="#">Share</a> what's on your mind about sports.</p>
          <div id="demo-accordion-collapse_02" class="midSectionWrapper" role="tablist">
    
              <myaccordion03></myaccordion03>

            
  
          </div>
        </div>
   
    
        <div class="col-xs-12 col-md-6">
    
          <hr class="sfusHR" />
          <h3 class="sfus_H"> CURRENT TOPICS </h3>
          <hr class="sfusHR" />
    
          <div class="sfusVideo embed-responsive  embed-responsive-16by9">
            <video class="responsive-video embed-responsive-item" poster="../assets/images/sportFansWhereVenue720.png" controls>
              <source src="../assets/media/intro720p.mp4" type="video/mp4" />
            </video>
          </div>
          <p class="mar12_0_12_0">Suggest a sports topic you are passionate about and if other fans like it, we'll add it to the discussions area. </p>
          <div class="shareButton text-center mar12_0_12_0">
            <a class="btn btn-lg btn-brown" href="#" role="button">  View Comments »</a>
          </div>
    
        </div>
        

       
      </div>
    
    </div>
  
    