/* You can add global styles to this file, and also import other style files */

.regCard {border:none;    margin: 2px 0 6px 0;}
.regTitle {border:none;    margin: 2px 0 6px 0;}
.regH5 {border:none;     margin: 2px 0 6px 0;}


.example-form { min-width: 150px; max-width: 600px; width: 100%;}
.example-full-width { width: 96%; }
.example-half-width { width: 47%;}

